body {
    background-color: #624b38;
    margin: 0;
    font-family: helvetica, sans-serif;
    color: #fff;
}

.img-choose {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border: 1px solid #000;
    margin-right: 1em;
}

.img-choose:hover {
    cursor: pointer;
}

.choose {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 1em;
}

.container {
    width: 450px;
    height: 450px;
    border: 2px solid #000;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.block {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border: 1px solid #000;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
    transition: all 0.1s;
    background-color: #666;
    color: #000;
    background-image: url('zyrafa.jpg');
    background-size: 300%;
    //box-shadow: inset -10px -10px 20px 3px #000;
}

.empty {
    box-shadow: inset 10px 10px 50px 5px #000;
}

.block[data-no="1"] {
    background-position: 0% 0%;
}

.block[data-no="2"] {
    background-position: 50% 0%;
}

.block[data-no="3"] {
    background-position: 100% 0%;
}

.block[data-no="4"] {
    background-position:  0% 50%;
}

.block[data-no="5"] {
    background-position: 50% 50%;
}

.block[data-no="6"] {
    background-position: 100% 50%;
}

.block[data-no="7"] {
    background-position: 0% 100%;
}

.block[data-no="8"] {
    background-position: 50% 100%;
}

.block[data-no="0"] {
    background: none !important;
}